#redis:
redis==4.3.4
fakeredis==2.24.1

# numerical
numpy==1.23.0
alpaca-trade-api==3.2.0
pandas==2.0.0
ta==0.11.0

# web:
flask==3.0.3
requests
opentelemetry-api==1.26.0
opentelemetry-distro==0.47b0
opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation==0.47b0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-exporter-otlp==1.26.0
